body {font-family: Arial!important; color: #6d6e71!important;}

.header {margin: 40px auto 60px;}

.download {font-size: 18px; color: #fff; text-transform: uppercase; background-color: #f99714; padding: 5px 15px;}
.download:hover {color: #fff; text-decoration: none;}

.contacts {font-size: 18px; margin: 20px 0;}

.table.price-list {border-color: #fcb85c;}
.table.price-list th, .table.price-list td {border-color: #fcb85c; font-weight: normal;}
.table.price-list thead th {vertical-align: middle;}
.table.price-list .category {background-color: #fcb85c; text-align: center; color: #fff; font-size: 18px; text-transform: uppercase;}
.table.price-list .item {font-size: 14px;}

@media (max-width: 345px) {
    .download {
        font-size: 14px !important;
    }
    .header {
        margin-bottom: 30px;
    }
}

@media (max-width: 281px) {
    .download {
        font-size: 12px !important;
    }
    .header {
        margin-bottom: 30px;
    }
}