.form-error ul {padding-left: 0; list-style: none; text-shadow: none; text-align: left;}

.btn-edit {background: #f0ad4e none repeat scroll 0 0; border-color: #f0ad4e;}
.btn-publish {background: #5a738e none repeat scroll 0 0; border-color: #5a738e;}
.btn-unpublish {background: #26b99a none repeat scroll 0 0; border: 1px solid #169f85;}
.btn-delete {background: #d9534f none repeat scroll 0 0; border-color: #d9534f;}

.btn-action,
.btn-unpublish,
.btn-publish,
.btn-edit,
.btn-delete
{
    width: 24px;
}

.actions {white-space: nowrap;}
.actions .btn {color: #fff;}
.actions .btn:hover {color: #fff;}

.switchery {margin-top: 8px;}